.CategoryCardWrapper{
    height: 70px;
    background-color: #fff;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 30px;
    margin: 0;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2), 0 0px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.CategoryCardWrapper b{
    padding: 0;
}