.BookPageWrapper{
    min-height: 500px;
    padding: 6vh;
    margin:  7rem 7rem 50px 7rem;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.BookpageContainer1{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.BookPageInformations{
    width: auto;
}

.BookPageWrapperDescription{
    height: auto;
    padding: 6vh;
    margin: 50px 7rem 50px 7rem;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.BookPageWrapperDescription b{
    font-size: 26px;
}

.BookPageWrapperDescription p{
    font-size: 16px;
    padding-right: 50px;
}


.BookPageCover img{        
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.BookPageWrapper h3{
    font-size: 24px;
}

p .description{
    min-height: 200px;
}

.BookPageButton{
    background-color: #4867c3;
    border: none;
    font-size: 25px;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    float: right;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}