.LandingPageWrapper{
    background-image: url("https://i.imgur.com/CEO7aK1.jpeg");
    width: 100%;
    background-size: cover;
    background-position: bottom;
}


.LandingPageContent{
    color: #fff;
    margin:0;
    padding: 100px 100px 200px 100px;
    background-color: rgba(0, 5, 32, 0.568);
}

.LandingPageContent h1{
    font-size: 55px;
    font-weight: 900;
}

.LandingPageContent p{
    font-size: 20px;
    font-weight: 600;
}