.searchBarWrapper{
    background-color: #fff;
    padding: 1px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 2rem;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    color: #000 60%;
}

input:focus{
    outline: none;
}

.SearchBarButton{
    background-color: transparent;
    border-radius: 30px;
    height: 100%;
    width: 50px;
    color: grey;
    left: 10px;
    position: relative;
    border: none;
}